<h3>Add Author</h3>
<%= form_with model: @aurthor do |form| %>
  <p>Name: <%= form.text_field :name %></p>
  <p>Age: <%= form.number_field :age %></p>
  <div>
    <%= form.label :status, style: "display: block" %>
    <%= form.number_field :status %>
  </div>
  <%= form.submit %>
<% end %>
